<form (ngSubmit)="registrar()" #formularioRegistro="ngForm">
  <div>
    <label for="username">Nombre:</label>
    <input type="text" id="username" name="username" [(ngModel)]="usuario.username" required>
  </div>
  <div>
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required>
  </div>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="pasnamesword" [(ngModel)]="usuario.name" required>
  </div>
  <div>
    <label for="documentNumber">Documento:</label>
    <input type="text" id="documentNumber" name="documentNumber" [(ngModel)]="usuario.documentNumber" required>
  </div>
  <div>
    <label for="contactNumber">Numero de Contacto:</label>
    <input type="text" id="contactNumber" name="contactNumber" [(ngModel)]="usuario.contactNumber" required>
  </div>


  <button type="submit">Registrar</button>
</form>

{{usuarios | json}}
